@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+Symbols:wght@600&family=Poppins:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.left {
  margin-top: 2%;
}
.left img {
  width: 400px;
  height: 100px;
}

.description {
  margin-top: 17px;
  letter-spacing: 2px;
  width: 80%;
}

.right {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;

  text-align: center;
  max-width: 400px;
  width: 100%;
}

.form-class {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.button-1 {
  display: inline-block;
  background-color: #1877f2;
  margin-top: 17px;
  padding: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 1.5rem solid red;
  font-weight: 900;
  color: #fff;
}

.extra-options {
  display: flex;
  flex-direction: column;
}

.extra-options {
  margin-top: 15px;
}

.extra-options a {
  text-decoration: none;
  color: #1877f2;
}

.extra-options span {
  margin: 0 5px;
  color: #999;
}

.button-2 {
  display: inline-block;
  background-color: rgb(31, 236, 31);
  margin-top: 17px;
  padding: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;

  color: #fff;
}
